.carousel {
  background-color: #f2eee9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel h4 {
  margin: 0;
  text-align: center;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
}

.carousel_container {
  width: 100%;
  padding: 20px 5px;
}

.carousel_btn {
  background-color: #f3d7d3;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.carousel_btn:hover {
  background-color: #555;
}

.first {
  gap: 0.5;
  background-color: var(--beige);
  margin-top: 10%;
  margin-bottom: 6%;
  padding: 2%;
  padding-bottom: 6%;
  text-align: center;
}

.first div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.first h2 {
  margin: 3%;
}

.first a {
  text-decoration: none;
  color: var(--pink);
  background-color: var(--blue);
  padding: 2% 4%;
}
.second {
  gap: 0.5;
  background-color: var(--beige);
  margin-top: 10%;
  margin-bottom: 6%;
  padding: 2%;
  padding-bottom: 6%;
  text-align: center;
}

.second div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.second h2 {
  margin: 3%;
}

.second a {
  text-decoration: none;
  color: var(--pink);
  background-color: var(--blue);
  padding: 2% 4%;
}

.third {
  gap: 0.5;
  background-color: var(--beige);
  margin-top: 10%;
  margin-bottom: 6%;
  padding: 2%;
  padding-bottom: 6%;
  text-align: center;
}

.third div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.third h2 {
  margin: 3%;
}

.third a {
  text-decoration: none;
  color: var(--pink);
  background-color: var(--blue);
  padding: 2% 4%;
}

.four {
  gap: 0.5;
  background-color: var(--beige);
  margin-top: 10%;
  margin-bottom: 6%;
  padding: 2%;
  padding-bottom: 6%;
  text-align: center;
}

.four div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.four h2 {
  margin: 3%;
}

.four a {
  text-decoration: none;
  color: var(--pink);
  background-color: var(--blue);
  padding: 2% 4%;
}

.five {
  gap: 0.5;
  background-color: var(--beige);
  margin-top: 10%;
  margin-bottom: 6%;
  padding: 2%;
  padding-bottom: 6%;
  text-align: center;
}

.five div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.five h2 {
  margin: 3%;
}

.five a {
  text-decoration: none;
  color: var(--pink);
  background-color: var(--blue);
  padding: 2% 4%;
}

.six {
  gap: 0.5;
  background-color: var(--beige);
  margin-top: 10%;
  margin-bottom: 6%;
  padding: 2%;
  padding-bottom: 6%;
  text-align: center;
}

.six div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.six h2 {
  margin: 3%;
}

.six a {
  text-decoration: none;
  color: var(--pink);
  background-color: var(--blue);
  padding: 2% 4%;
}

section.email.full_width {
  align-items: center;
  max-width: 32%;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  color: var(--pink) !important;
  padding-top: 4%;
}

@media (width > 500px) {
  section.email.full_width {
    align-items: center;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    color: var(--pink) !important;
    padding-top: 4%;
  }
}
