/************ HERO SECTION ************/
.hero {
  position: relative;
  max-width: 100%;
  box-shadow: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-logo {
  position: absolute;
  top: 50%; /* Centrer vertikalt i sektionen */
  left: 50%; /* Centrer horisontalt i sektionen */
  transform: translate(-50%, -50%); /* Juster centerpunkt til midten */
  z-index: 10;
}

/* HERO SLUT */

section {
  margin-bottom: 15%;
}

/* h3{
    font-family: playfair_display_semibold;
    font-size: 16px;
    text-transform: uppercase;
  } */

.pink {
  background-color: #f3d7d3;
  margin-bottom: 50px;
  position: relative;
}

.pink h2 {
  margin: 10px 0 0;
}

.pink_grid {
  padding: 50px;
}

.favorite_potato {
  position: absolute;
  top: -30px;
  width: clamp(115px, 20vw, 250px);
}

.favorite_eggplant {
  position: absolute;
  width: clamp(137px, 23vw, 300px);
  bottom: -35px;
  right: 0;
}

img {
  width: 100%;
}

button {
  background-color: #00408d;
  color: #f3d7d3;
  border: none;
  font-family: playfair_display_regular, serif;
  font-size: 12px;
  padding: 3px 20px;
  display: inline-block;
  cursor: pointer; /* Sikrer at det ligner en knap */
  transition: transform 0.3s ease-in-out; /* Tilføjer en glidende effekt */
}

button:hover {
  transform: scale(1.1); /* Gør knappen 10% større ved hover */
}

/************* KARUSSEL ************/

.carousel {
  background-color: #f2eee9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel h4 {
  margin: 0;
  text-align: center;
}

.carousel img {
  width: 100%;
}

.carousel_container {
  width: 100%;
  padding: 20px 5px;
}

.favorites {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

/* .carousel_btn {
  background-color: #F2EEE9;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.carousel_btn:hover {
  background-color: #555;
} */

/**********KARUSSEL SLUT **************/

.img_rul {
  margin-bottom: 50px;
}

.grid_1_1 {
  background-color: #f2eee9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 15px;
  padding: 7% 3%;
}

.mushroom_container {
  display: none;
}

.mitt_container {
  display: none;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid_1_1 h3 {
  margin: 0;
}

@media (width >= 500px) {
  .mushroom_container {
    display: block;
    position: absolute;
    top: -45px;
    width: clamp(125px, 25vw, 320px);
    right: -6px;
    transform: rotate(30deg);
  }

  .mitt_container {
    display: block;
    position: absolute;
    width: clamp(125px, 24vw, 300px);
    right: -22px;
    bottom: -116px;
  }
}

@media (width >= 768px) {
  .pink_grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 8%;
  }

  .pink h2 {
    margin: 0;
  }

  .favorite_eggplant {
    bottom: -55px;
  }

  .favorite_potato {
    top: -65px;
  }
}

@media (width >= 1024px) {
}
