/* notes to self:

generelt padding uden at ændre max-width 90%

Base?:
box-shadow
form: translate er måske ikke optimal

padding, second?

bites:
er ikke 100% width?
- har added margin 0 på body

*/

h2 {
  text-align: center;
}

section {
  background-color: var(--beige);
  padding: 12px;
  margin-bottom: 50px;
}

h4 {
  text-align: center;
  margin-top: 0;
}

.recipes-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.recipe {
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
}

select {
  background-color: var(--blue);
  border: none;
  color: var(--babypink);
  text-align: center;
  font-family: playfair_display_semibold;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

@media (width >=500px) {
  .recipes-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (width >= 1000px) {
  .recipes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
