/* notes to self:

generelt padding uden at ændre max-width 90%

Base?:
box-shadow
form: translate er måske ikke optimal

padding, second?

bites:
er ikke 100% width?
- har added margin 0 på body

*/

h2 {
  text-align: center;
}

section {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* X, Y, Blur, Spread, Farve */
  background-color: var(--beige);
  padding-top: 5px;
  margin-bottom: 50px;
}

h3 {
  text-align: center;
  margin-top: 0;
}

body {
  background-image: url(../assets/img/logo_pink.webp);

  background-repeat: repeat;
  background-size: 10%;
  margin: 0;
}

.recipes-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.recipe {
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
}

select {
  background-color: var(--blue);
  border: none;
  color: var(--pink);
  text-align: center;
  font-family: playfair_display_semibold;
  text-transform: uppercase;
  padding: 3px;
}

@media (width >=500px) {
  .favorites {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (width >= 1000px) {
  .favorites {
    grid-template-columns: repeat(4, 1fr);
  }
}
