@font-face {
  font-family: Rampart_One;
  src: url(../assets/fonts/RampartOne-Regular.ttf);
}
@font-face {
  font-family: playfair_display_black;

  src: url(../assets/fonts/PlayfairDisplay-Black.ttf);
}
@font-face {
  font-family: playfair_display_semibold;
  src: url(../assets/fonts/PlayfairDisplay-SemiBold.ttf);
}
@font-face {
  font-family: playfair_display_regular;
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}

html {
  --blue: #00408d;
  --pink: #f3d7d3;
  --banner: #f8b7b0;
  --beige: #f2eee9;
}

body {
  margin: 0;
}

section {
  max-width: 90%;
  margin: auto;
}

.full_width {
  max-width: 100%;
  margin: auto;
}

h1 {
  font-family: Rampart_One, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--blue);
}

h2 {
  font-family: playfair_display_black, serif;
  text-transform: uppercase;
  font-size: 22px;
  color: var(--blue);
  text-align: center;
}

h3 {
  font-family: playfair_display_semibold, serif;
  font-size: 16px;
  color: var(--blue);
}

p {
  font-family: playfair_display_regular, serif;
  font-size: 12px;
  color: var(--blue);
}

.pink_text {
  color: var(--pink);
}

/************ MOVING TEXT ****************'*/

.img_rul {
  background-color: #00408d;
  overflow: hidden;
}

.moving_p {
  display: flex;
  font-family: Rampart_One, sans-serif;
  font-size: 2em;
  color: #f8b7b0;
  text-transform: uppercase;
  white-space: nowrap;
  width: max-content;
  animation: scroll-right 10s linear infinite;
  align-items: center;
  margin: 20px;
}

.img_rul img {
  width: 4.4em;
  padding-left: 0.25em;
}

@keyframes scroll-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (width >= 700px) {
  h1 {
    font-size: 96px;
    text-align: center;
  }

  h2 {
    font-size: 64px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 22px;
  }
  .first {
    gap: 0.5;
    background-color: var(--beige);
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 2%;
    padding-bottom: 6%;
    text-align: center;
  }

  .first div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .first h2 {
    margin: 3%;
  }

  .first a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--blue);
    padding: 2% 4%;
  }
  .second {
    gap: 0.5;
    background-color: var(--beige);
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 2%;
    padding-bottom: 6%;
    text-align: center;
  }

  .second div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .second h2 {
    margin: 3%;
  }

  .second a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--blue);
    padding: 2% 4%;
  }

  .third {
    gap: 0.5;
    background-color: var(--beige);
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 2%;
    padding-bottom: 6%;
    text-align: center;
  }

  .third div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .third h2 {
    margin: 3%;
  }

  .third a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--blue);
    padding: 2% 4%;
  }

  .four {
    gap: 0.5;
    background-color: var(--beige);
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 2%;
    padding-bottom: 6%;
    text-align: center;
  }

  .four div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .four h2 {
    margin: 3%;
  }

  .four a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--blue);
    padding: 2% 4%;
  }

  .five {
    gap: 0.5;
    background-color: var(--beige);
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 2%;
    padding-bottom: 6%;
    text-align: center;
  }

  .five div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .five h2 {
    margin: 3%;
  }

  .five a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--blue);
    padding: 2% 4%;
  }

  .six {
    gap: 0.5;
    background-color: var(--beige);
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 2%;
    padding-bottom: 6%;
    text-align: center;
  }

  .six div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .six h2 {
    margin: 3%;
  }

  .six a {
    text-decoration: none;
    color: var(--pink);
    background-color: var(--blue);
    padding: 2% 4%;
  }

  .moving_p {
    font-size: 6em;
    margin: 30px;
  }

  section.email.full_width {
    align-items: center;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    color: var(--pink) !important;
    padding-top: 4%;
  }
}
@media (width > 500px) {
  section.email.full_width {
    align-items: center;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    color: var(--pink) !important;
    padding-top: 4%;
  }
}
