@font-face {
  font-family: Rampart_One;
  src: url("../assets/fonts/RampartOne-Regular.ttf");
}

h1 {
  font-family: Rampart_One, sans-serif;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-style: normal;
}

h3 {
  font-weight: 400;
}
